@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    .yt-frame {
        @apply absolute top-0 left-0 bottom-0 right-0 w-full h-full
    }

    /* .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
    }

    .swiper-button-next::after, .swiper-button-prev::after{
        font-family : unset;
        content: none;
    }

}

@layer components { */
    
}
